// Font for headers
@font-face {
    font-family: 'AmaticSC';
    src: url("../../public/fonts/AmaticSC-Regular.ttf") format("truetype");
}

// Accent font
@font-face {
    font-family: 'Caveat';
    src: url("../../public/fonts/Caveat-VariableFont_wght.ttf") format("truetype");
}

// Font for main text
@font-face {
    font-family: 'Martel';
    src: url("../../public/fonts/Martel-Regular.ttf") format("truetype");
}
