//Colors 60%-30%
$primary-light: #eeeeee;
$slate-100:     #FAFAFA;
$slate-300:     #DDDDDD;
$slate-500:     #8B8B8B;
$slate-700:     #696969;
$primary-dark:  #252525;

//Colors 10%
$primary-accent:#58C0A7;
$accent-100:    #14FAC4;
$accent-300:    #44A58E;
$accent-500:    #477A6E;
$accent-700:    #3C504B;
$accent-900:    #2D3332;

// Fonts
$font-header: 'AmaticSC';
$font-accent: 'Caveat';
$font-text:   'Martel';

// Units
$distance-unit: 9px;