@import "variables.scss";

* {
    margin: 0;
	padding: 0;
	border: 0;

	font-size: inherit;
	font-family: inherit;

	vertical-align: baseline;

}

h1 {
    font-size: 3rem;
    font-family: $font-header;
}

h2 {
	font-size: 2rem;
	font-family: $font-accent;
}
h3 {
	font-size: 1.6rem;
	font-family: $font-accent;
}

body {
	background-color: $primary-dark;
	color: $primary-light;
	font-family: $font-text;
	font-size: 16pt;
}