@import "variables.scss";

* {
    margin: 0;
	padding: 0;
	border: 0;

	font-size: 18pt;
	font-family: inherit;

	vertical-align: baseline;

}

h1 {
    font-size: 300%;
    font-family: $font-header;
}

body {
	background-color: $primary-dark;
	color: $primary-light;
}

// * {
//     margin: 0;
//     padding: 0;
//     background: $primary-dark;
//     color: $primary-light;
//     font-family: $font-text;
// }