.header {
    font-size: 18pt;
    font-family: $font-accent;
    position: sticky;
    top: 0;


    .backgroundLayer {
        position: absolute;
        top: 0;
        z-index: 1050;
        height: 100%;
        width: 100%;
        background-color: $primary-dark;
        transition: transform 0.5s ease; 
        transform-origin: top center;
        
        &.scrolled {
            transform: scaleY(0.85);
        }
    }

    ul {
        position: sticky;
        top: 0;
        z-index: 1100;
        display: flex;
        justify-content: center;
        align-items:center;        
        transition: transform 0.5s ease; 
        transform-origin: top center;
        
        &.scrolled {
            transform: scale(0.9);
        }
    }

    li {
        display: inline;
    }

    a {
        position: relative; 
        overflow: hidden;
    
        padding: 8px 24px;
        margin: 0px 20px;
        color: $primary-light;
        font-family: $font-accent;
        font-weight: bold;
        text-decoration: none;
        opacity: 0.8;

        transition: transform 0.3s ease, opacity 0.3s ease;

        &.menuLogo {
            padding: 0px 24px;
            &:hover {
                transform: scale(1.02);
                opacity: 1;
            }
        }

        &.menuLink {
            &::after {
                content: '';
                position: absolute;
                bottom: 0;
                left: 0;
                width: 0%;
                height: 1.5px;
                background-color: $primary-accent;
                transition: width 0.4s ease;
                left: 16px
            }

            &:hover::after {
                width: 70%;
            }

            &:hover {
                opacity: 1;
            }
        }
    
    }
    
    img {
        width: 4.5rem;
        height: 4.5rem;
    }
    
    .cta {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: $primary-accent;
        padding: 8px 24px;
        border-radius: 10px;
        color: $primary-dark;

        transition: background-color 0.3s, transform 0.3s;

        &:hover {
            background-color: $accent-100;
            transform: scale(1.02);
        }
    }
}