.header {
    padding: 20px;

    ul {
        display: flex;
        justify-content: center;
    }

    li {
        display: inline;
    }

    a {
        text-decoration: none;
        color: $primary-light;
        font-family: $font-accent;
        font-weight: bold;
        padding: 8px 30px;

        position: relative; 
        overflow: hidden;
    
        &::after {
            content: '';
            position: absolute;
            bottom: 0;
            left: 0;
            width: 0%;
            height: 2px;
            background-color: $primary-accent;
            transition: width 0.4s ease;
            left: 16px
        }
    
        &:hover::after {
            width: 70%;
        }
    }
    
    .cta {
        background-color: $primary-accent;
        color: $primary-dark;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 10px;

        transition: background-color 0.3s, transform 0.3s;
        

        &:hover {
            background-color: $accent-100;
            transform: scale(1.02);
        }
    }

    .active {
        color: green;
    }


  

}